        .wrapper{
			display: flex;
      flex-direction: column;
      justify-content: center;
		}
        #hd{
         max-width: 600px;
         padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         background-image: url(https://i.ytimg.com/vi/rPleicjySdI/maxresdefault.jpg);
        }
        #cpt{
          font-size: 40px;
          font-weight: bold;
          color: white;
        }
        #cpt1{
            font-size: 15px;
            font-weight: bold;
            color: white;
        }
          #cnt{
        background-color: #909497;
        padding: 5px;
        max-width: 600px;
        }
        #ft{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        max-width: 600px;
        }
        #cpt2{
            color: white;
        }
        #mn{
            display: none;        }
        .centrove{
            margin: 0 auto;
            text-align: center;
        }
        p{
             font-family: arial;
         }	
         #post{
         	width: 100px;
          float: right; 
         }
         .container{
          display: block;
          }